@model Story

<div class="col-md-12">
  <h3 class="text-center">Add Story</h3>
  <form method="post" asp-controller="Home" asp-action="CreateStory">
    <div class="form-group">
      <label asp-for="Name">Story Name</label>
      <input asp-for="Name" class="form-control" id="formGroupExampleInput" placeholder="Story Name">
    </div>
    <div class="form-group">
      <label asp-for="Description">Story Description</label>
      <input asp-for="Description" class="form-control" id="formGroupExampleInput" placeholder="Story Description">
    </div>
    <input class="btn btn-success" type="submit" value="Create" />
  </form>
</div>
