
@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Scrum Table</title>

  <link href="~/css/bundle.min.css" rel="stylesheet" />
</head>
<body>

  <div class="container">
    <div class="row">

      <div class="col-md-12 text-center text-warning"><h2 class="title">Scrum Table</h2></div>

    </div>
    @RenderBody()

  </div>
 


  <script src="~/js/bundle.js"></script>
</body>
</html>
